@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- ADD THIS FOR PREMIUM SCROLLING --- */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* Global Background */
body {
  background-color: #f9fafb; /* Light Gray */
  color: #111827; /* Dark Gray Text */
}